.history {
  width: 320px;
  padding: 10px;
  background-color: #dadada;
  border: 1px solid #505050;
}

thead {
  background-color: #159da7;
}

th,
td {
  text-align: center;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #949494;
}
